
/* hero-item */
.hero-item {
	width: 180px;
	margin: 10px;
	border: 1px solid #000;
	border-radius: 5px;
	padding: 20px;

	display: flex;
	flex-direction: column;
	justify-content: flex-start;
}

.hero-item > img {
  width: 150px;
  height: 150px;
  margin: 5px;
}
